html, body {
    background: #5C258D;
    background: -webkit-linear-gradient(to right, rgb(153, 218, 241), rgb(89, 11, 156));
    background: linear-gradient(to right, #4389A2, rgb(143, 129, 155));
    height: 100%;
    min-width: 500px;
}

#citation {
    font-size: 2em;
    font-family: 'Satisfy', curve;
    line-height: 1.3em;
    letter-spacing: 1px;
}

#citation:before {
    content: open-quote;
}

#citation:after {
    content: close-quote;
}

#auteur {
    font-size: 1.5em;
    font-style: italic;
}

#nouveau {
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff5500);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    cursor: pointer;
}